@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Nunito:wght@200;300;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 1.1rem;
    font-family:'Nunito', sans-serif;
    text-transform: capitalize;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #f0f0f5;
}
@media (max-width: 667px){
    body{
        width: 100vw;
    }
}
.header{
    padding: 13px;
    width: 100vw;
    background-color: #fff;  
    box-shadow: .1px 0.2px 7px 0px rgba(0, 0, 0, 0.475);
}
@media (max-width: 667px){
    .header{
        width: 100vw;
    }
}
.logo{
    width: 200px;
    height: 70px;
    border-radius: 13px;
}
@media (max-width: 667px){
    .logo{
       width: 130px;
       border-radius: 9px; 
    }
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.lista-menu-nav{
    display: flex;
    flex-wrap: wrap;   
}
@media (max-width: 667px){
    .lista-menu-nav{
      
    }
}
.ancora-menu{
    margin-left: 30px;
    color: rgb(61, 170, 61);
    font-weight: 650;
    font-size: 22px;
    padding: 5px;
}
@media (max-width: 667px){
    .ancora-menu{
       font-size: 16px;
       margin: auto;
       padding: 13px;
      
       
       
    }
}
#active{
    background-color: rgb(86, 192, 86) ;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}
#active:hover{
    background-color: rgb(61, 170, 61);
}
.ancora-menu:hover{
    background-color: rgb(86, 192, 86);
    border-radius: 13px;
    color: #fff;
}
/*fim do menu inicial do site*/

.section-main{
    background-color: #fff;
    margin-top: 30px;
    width: 100vw;
}
@media (max-width: 667px){
    .section-main{
       height: 500px;
    }
}
.container-main{
   
}
.conteudo-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
@media (max-width: 667px){
    .conteudo-main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
.img-home1{
 margin-top: 40px;
}
@media (max-width: 667px){
    .img-home1{
       width: 300px;
       margin-top: 0;
       margin-bottom: 0;
    } 
}

.especial-semana{
 text-align: center;  
}
.especial-semana h1{
    font-size: 40px;
    color: rgb(61, 170, 61);
}
@media (max-width: 667px){
    .especial-semana h1{
       font-size: 30px;
    }
}
.especial-semana p{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 20px;   
}
@media (max-width: 667px){
    .especial-semana p{
       font-size: 18px;
       text-align: center;
       width: 450px;
       
    }
}
.pedido-home{
    background-color: rgb(61, 170, 61);
    padding: 8px;
    border-radius: 13px;
    color: #fff;
}
.pedido-home:hover{
    background-color: rgb(21, 158, 204);
}
/*início da secção 2. onde estão os cards do cardápio.*/
.section-home2{
    width: 100vw;
    background-color: #f0f0f5;
    margin-top: 40px;
}
.container-cards-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.cards-menu{
    padding: 10px;
    background-color: #fff;
    margin: 20px;
    height: 500px;
    width: 380px; 
    box-shadow: 1px 3px 10px 0.5px rgba(0, 0, 0, 0.311);    
}
@media (max-width: 667px){
    .cards-menu{
         padding: 0;
    }
}
.cards-menu:hover{
    transform: translatey(-20px);
}
.cards-menu h3{
    text-align: center;
    font-size: 25px;
    color: rgb(76, 206, 76) ;
}
.cards-menu p{
    margin-bottom: 40px;
    font-weight: 600;
    text-align: center;
    
}
.pedido-cardapio{ /*btn do pedido*/
    background-color: rgb(61, 170, 61);
    padding: 8px;
    border-radius: 13px;
    color: #fff; 
    margin-left: 30px;
    
}
.pedido-cardapio:hover{
    background-color: rgb(21, 158, 204);
}

.img-cards-menu{
    width: 300px;
    height: 250px;
    margin-left: 11%;
    margin-bottom: 13px;   
    border-radius: 20px; 
}